<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535189524504-19gbjveq6e8gerkmj66cnqksqtpfepof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535189524504-19gbjveq6e8gerkmj66cnqksqtpfepof</string>
	<key>API_KEY</key>
	<string>AIzaSyCQus3GNEeu5EwQMog7JWoRTNCU3xKa5hg</string>
	<key>GCM_SENDER_ID</key>
	<string>535189524504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myworkout</string>
	<key>PROJECT_ID</key>
	<string>workoutapp-cdebc</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutapp-cdebc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535189524504:ios:3ec5a0939adcc4375cb36d</string>
</dict>
</plist>